rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /hn_cache/{doc} {
      allow read, write: if false;
    }
  }
}
